.food-container{
    height: 445px;
    width: 350px;
    border: 1px solid rgb(190, 186, 186);
    background-color: black;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.img-food{
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding: 20px;
}
.heding-food{
    font-size: 30px;
    color: white;
    text-align: center;
}
.text-food{
color: white;  
text-align: center;
font-size: 15px;  
}
.price-food{
    color: #eec78c;
    font-size: 20px;
    text-align: center;
}
.open-next{
    text-decoration: none;
}
.btn{
    margin-left:90px;
    border-radius: 0;
   padding: 5px;
   padding-left: 30px;
   padding-right: 30px;
    align-items:center;
    text-align: center;
    border: 2px solid #eec78c;
}
.btn:hover{
    color: #eec78c;
}