.food-container{
    height: 445px;
    width: 350px;
    border: 1px solid rgb(190, 186, 186);
    background-color: black;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.img-food{
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding: 20px;
}
.heding-food{
    font-size: 30px;
    color: white;
    text-align: center;
}
.text-food{
color: white;  
text-align: center;  
}
.price-food{
    color: #eec78c;
    font-size: 20px;
    text-align: center;
}
.open-next{
    text-decoration: none;
}