.palacecard-container{
    height: 460px;
    width:450px;
    border: 1px solid grey;
    background-color: white;
    margin-top: 70px;
    padding: 35px;
    margin-bottom: 50px;
}
.titlepalace{
    font-size: 27px;
    text-align: center;
    margin-top: 50px;
}
.palaceimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.priceyear{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}
