.sign-main-container{
    
    background-color: #F8F5F0; 
     display: flex;
     justify-content: center;
     
 }
 .sign-container{
     height: 400px;
     width: 550px;
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 50px;
     margin-bottom: 50px;
     box-shadow: 0px 2px 30px 0px  #ccffee ;
    
    
     
 }
 .sign-heading-1{
     font-size: 35px;
     font-family:serif;
     margin: 0;
     margin-top: 30px;
 }
 .sign-heading-2{
     font-size: 18px;
     font-family: 'Times New Roman', Times, serif;
     margin-bottom: 17px;
     margin-top: 15px;
 }
 .sign-input{
     height: 45px;
     width: 420px;
     margin-bottom: 30px;
     border: 0.5px solid #0a0a0f;
     padding-left: 10px;
 
 }
 .sign-input:hover{
     border-color: goldenrod;
 }
 .sign-btn{
     background-color:#eec78c;
     height:40px ;
     width: 90px;
     text-decoration: none;
     color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 25px;
    font-size: 15px;
 }
 .sign-btn:hover{
     background-color: white;
 }
 
 
 
 @media only screen and (max-width: 768px){
   
     .sign-input{
         height: 35px;
         width: 340px;
         margin-bottom: 30px;
     }
     .sign-btn:hover{
         background-color: #eec78c;
     }
     
 
 }