*{
    padding: 0;
    margin: 0;
}
.box-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.poster-food{
    display:inline-block;
   
    width: 95%;
    padding: 0;
    margin: 40px;
    text-align: center;
   
    
    
}
.font-20{
    font-size: 21px;
}
.img-poster{
    width: 98%;
    height: 600px;
    text-align: center;
}
.text-center{
    text-align: center;
}
.text-poster{
    font-size: 50px;
}
.normal-text{
    font-size: 20px;
    color: rgb(73, 72, 72);
    text-align: center;
    margin: 20px;
}
.col-golden{
    color: #eec78c;
}