*{
    padding: 0;
    margin: 0;
}
.box-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.poster-food{
    display:inline-block;
   
    width: 95%;
    padding: 0;
    margin: 40px;
    text-align: center;
   
    
    
}
.font-20{
    font-size: 21px;
}
.img-poster{
    width: 98%;
    height: 600px;
    text-align: center;
}
.text-center{
    text-align: center;
}
.text-poster{
    font-size: 50px;
}
.normal-text{
    font-size: 20px;
    color: rgb(73, 72, 72);
    text-align: center;
    margin: 20px;
}
.col-golden{
    color: #eec78c;
}
.img-first{
    background-image: linear-gradient(45deg,
    rgba(3, 3, 3, 0.75),
    rgba(20, 20, 20, 0.75)), url("https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    height: 600px;
    width: 100%;
    opacity: 1.5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;

}