
.heading-1{
    text-align: center;
    font-family: serif;
    font-size: 85px !important;
}
.search-box{
    margin-left: 50px;
    margin-top: 100px;
}
.search-label{
    font-size: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.search-container{
    height: 50px;
    width: 400px;
    border: 1px solid black;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 50px;
}
.card-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.logos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.Blog-Logo-img{
    height: 120px;
    width: 120px;
}