.heading{
    text-align: center;
    font-size: 55px;
    
}
.container-about-main{
    display: flex;
    flex-direction: row;
    /* justify-content:space-around; */
    margin-top: 130px;
    margin-bottom: 150px;
    flex-wrap: wrap;

}
.container-about{
    margin-left: 80px;
}
.text-about{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.heading-about{
    font-size: 52px;
    margin-top: 30px;
}
.text1-about{
    font-size: 17px;
    margin-top: 30px;
}
.img-welcome{
    width: 600px;
    margin-top: 50px;
}
.img-hotelbooking{
    height:970px;
    width: 750px;
}
.about-quotes{
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 40px;
}
.palacecard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container-quotes{
    text-align: center;   
}
.quoteswriter{
    font-size: 27px;
    margin-bottom: 40px;
}
.quoteswriter span{
    color: grey;
}
